<!DOCTYPE html>
<html>

<head>
    <!-- <meta charset="shift_jis"> -->
    <meta charset="UTF-8">
    <title>golang</title>
    <!-- 静的ファイルをリンクする -->
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="/data/main.css">
    <script src='/data/main.js'></script>
    <script src='./main.js'></script>
</head>

<body>


    <header class="head-flex">

        <form action=/get method=get onsubmit="send.disabled = true;send.value ='実行中'">

            <input class="ghost-button" type="submit" name="send" value="再表示(/get)">

        </form>
        <form action=/ method=get onsubmit="send.disabled = true;send.value ='実行中'">
            <input class="ghost-button" type="button" name="allview" value="ALL表示">
        </form>
    </header>

    <section>
        <!-- テーブルモード
        <form action="/Search" method=get>
            <input type="text" autocomplete="off" class="list_search" placeholder="Search for articles..." tabindex="1" name="q" value="">
        </form>

        <div class="tbl-view">
            <article>
                <table>
                    <th>
                        記事名
                    </th>
                    <th>
                        リンク
                    </th>
                    {{range $index, $list := .Data}}
                    <tr>
                        <td>
                            {{$list.Title}}
                        </td>
                        <td>
                            <a href={{$list.Urltxt}} target="_blank" rel="noopener">詳細表示</a>
                        </td>
                    </tr>
                    {{end}}
                </table>




            </article>
 -->
        <article>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
            <div>
                <ul id="govItems">
                    {{range $index, $list := .Data}}

                    <li>
                        <a href={{$list.Urltxt}} target="_blank" rel="noopener">[{{$list.Point}}]{{$list.Title}}</a>
                    </li>

                    {{end}}
                </ul>
            </div>
        </article>
        </div>
    </section>



</body>

</html>